:root {
    --black: #000;
    --black: rgba(0, 0, 0, 0.3);

    --white: #fff;

    --primary: #222;

    --secondary: #787878;

    --placeholder: #bdbdbd;

    --placeholder2: #c4c4c4;

    --gray: #fdfdfd;

    --main: #f5ba16;
    --main-light: #fffbef;

    --blue: #09a6ea;
}

@mixin swiperWithGrid {
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    min-height: 0;
    min-width: 0;
}
